h1 {
    font-size:90px;
    color:Gold;
}
html {
     background:url("https://images.fineartamerica.com/images-medium-large/nike-base-gym-dom-manfredo.jpg");
}
img {
    width:900px;
}
p {
    color:white;
    font-size:60px;
    text-align:center;
}
.blue {
     color:blue;
     font-size:90px;
}
.red {
    color:red;
    font-size:90px;
}

.orange {
    color:orange;
    font-size:90px;
}
.white {
    font-size:90px;
}
.bar {
    background-color:gold;
    color:black;
    
}
